@model SAED.Core.Entities.Aluno

@{
    ViewData["Title"] = "Editar Aluno";
}

<main class="uk-card uk-card-default uk-card-body">
    <div class="uk-flex uk-flex-between uk-flex-bottom">
        <a class="uk-icon-button uk-button-default" asp-action="Index" uk-icon="arrow-left"></a>
        <span class="uk-card-title uk-text-uppercase uk-text-center">Editar Aluno</span>
        <button class="uk-icon-button uk-button-primary" uk-icon="check" onclick="document.querySelector('.form').submit();"></button>
    </div>
    <hr class="uk-list-divider" />
    <form class="form" asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="uk-text-danger"></div>
        <div class="uk-grid-row-small" uk-grid>
            <div class="uk-width-1-3@s">
                <label class="uk-form-label">Escola</label>
                <select id="Escolas" name="Escolas" asp-items="ViewBag.EscolaId" class="uk-select">
                    <option value="">---------</option>
                </select>
            </div>
            <div class="uk-width-1-3@s">
                <label class="uk-form-label">Sala</label>
                <select id="Salas" name="Salas" asp-items="ViewBag.SalaId" class="uk-select">
                    <option value="">---------</option>
                </select>
            </div>
            <div class="uk-width-1-3">
                <label asp-for="TurmaId" class="uk-form-label">Turma</label>
                <select asp-for="TurmaId" class="uk-select" asp-items="ViewBag.TurmaId">
                    <option value="">---------</option>
                </select>
            </div>
            <div class="uk-width-1-3">
                <label asp-for="Nome" class="uk-form-label"></label>
                <input asp-for="Nome" class="uk-input" />
                <span asp-validation-for="Nome" class="uk-text-danger"></span>
            </div>
            <div class="uk-width-1-3">
                <label asp-for="Cpf.Codigo" class="uk-form-label">CPF</label>
                <input asp-for="Cpf.Codigo" class="uk-input" />
                <span asp-validation-for="Cpf" class="uk-text-danger"></span>
            </div>
            <div class="uk-width-1-3">
                <label asp-for="Nascimento" class="uk-form-label"></label>
                <input asp-for="Nascimento" class="uk-input" />
            </div>
        </div>
    </form>
</main>

@section Scripts {
    <script type="text/javascript" src="~/scripts/filterNestedFields.js"></script>
    <script type="text/javascript" src="~/libs/vanilla-masker/build/vanilla-masker.min.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded",
            () => {
                const escolaField = document.querySelector("#Escolas");
                const salaField = document.querySelector("#Salas");
                const turmaField = document.querySelector("#TurmaId");

                escolaField.addEventListener("change",
                    () => {
                        filterNestedFields(`@ApiConstants.BaseUrl/salas?escolaId=${escolaField.value}`, "#Salas");

                        salaField.selectedIndex = 0;
                        salaField.disabled = true;

                        turmaField.selectedIndex = 0;
                        turmaField.disabled = true;
                    });

                salaField.addEventListener("change",
                    () => {
                        //filterNestedFields(`@ApiConstants.BaseUrl/turmas/?salaId=${salaField.value}`, "#TurmaId");
                        filterNestedFields(`@ApiConstants.BaseUrl/turmas/${salaField.value}`, "#TurmaId");
                        turmaField.selectedIndex = 0;
                        turmaField.disabled = true;
                    });

            });

        VMasker(document.querySelector("#Cpf_Codigo")).maskPattern("999.999.999-99");
    </script>
}