@page
@model AccessDeniedModel
@{
    Layout = "~/Views/Shared/Layouts/_AdministradorLayout.cshtml";
    ViewData["Title"] = "Acesso Negado";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Você não possui as permissões necessárias para acessar este recurso.</p>
</header>
