@page
@model AccessDeniedModel
@{
    Layout = null;
    //Layout = "~/Views/Shared/Layouts/_AdministradorLayout.cshtml";
}

<html>
<head>
    <title>Acesso Negado</title>
</head>
<body>
<h1 class="text-danger">Acesso Negado</h1>
<p class="text-danger">Você não possui as permissões necessárias para acessar este recurso.</p>
</body>
</html>