@page "/"
@model LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="SAED - Simulado de Avaliação Educacional">
    <meta name="author" content="Tácio de Souza Campos">
    <title>SAED</title>

    <link rel="icon" href="~/assets/favicon/favicon.ico">

    <!-- Icons-->
    <link href="~/vendors/coreui/icons/css/free.min.css" rel="stylesheet">
    <link href="~/vendors/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">

    <!-- Bootstrap Styles -->
    <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- CoreUI Styles -->
    <link href="~/vendors/coreui/dist/css/coreui.min.css" rel="stylesheet">

    <!-- Pace Progress Styles -->
    <link href="~/vendors/pace-progress/css/pace.css" rel="stylesheet">

    <!-- Main Styles -->
    <link href="~/css/home.min.css" rel="stylesheet">
</head>
<body>
    <main class="d-flex justify-content-around">
        <aside class="flex-grow-1 aside d-none d-md-block">
            <img class="aside--image" src="https://images.pexels.com/photos/3558597/pexels-photo-3558597.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=1280&w=1656" alt="Alternate Text" />
            @*<img class="aside--image" src="https://images.pexels.com/photos/3623207/pexels-photo-3623207.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Alternate Text" />*@
        </aside>

        <section class="flex-grow-1 section d-flex flex-column justify-content-around align-items-center">
            <div class="w-100">
                <h1 class="card-title text-center">SAED</h1>
                <hr />
                <form asp-route-returnUrl="~/avaliacoes" class="section--form" method="post">
                    <div class="my-5">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group mt-5">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password">Senha</label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-5">
                        <button type="submit" class="btn btn-primary">Entrar</button>
                    </div>
                </form>
            </div>
            <footer>Desenvolvido pelo SIEM</footer>
        </section>
    </main>

    <!-- JQuery -->
    <script src="~/vendors/jquery/dist/jquery.min.js"></script>

    <!-- CoreUI and necessary plugins-->
    <script src="~/vendors/pace-progress/js/pace.min.js"></script>
    <script src="~/vendors/coreui/dist/js/coreui.bundle.min.js"></script>
</body>
</html>