@page "/"
@model LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="SAED - Simulado de Avaliação Educacional">
    <meta name="author" content="Tácio de Souza Campos">
    <title>SAED</title>

    <link rel="icon" href="~/assets/favicon/favicon.ico">

    <!-- Icons-->
    <link href="~/vendors/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">

    <!-- UIkit -->
    <link rel="stylesheet" href="~/vendors/uikit/css/uikit.min.css" />
    <script defer src="~/vendors/uikit/js/uikit.min.js"></script>
    <script defer src="~/vendors/uikit/js/uikit-icons.min.js"></script>
    @*<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.8/dist/css/uikit.min.css" />
        <script defer src="https://cdn.jsdelivr.net/npm/uikit@3.5.8/dist/js/uikit.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/uikit@3.5.8/dist/js/uikit-icons.min.js"></script>*@

    <!-- Pace Progress Styles -->
    <link href="~/vendors/pace-progress/css/pace.css" rel="stylesheet">
    <script defer src="~/vendors/pace-progress/js/pace.min.js"></script>

    <style>
        .grid {
            display: grid;
            grid-template: 1fr auto / 60% 40%;
            grid-template-areas: "aside content" "aside footer";
        }

        .aside {
            grid-area: aside;
            position: sticky;
            top: 0;
            height: 100vh;
            box-sizing: border-box;
        }

        .content {
            grid-area: content;
            min-height: calc(100vh - 81px);
        }

        .footer {
            grid-area: footer;
            align-self: center;
        }

        @@media only screen and (max-width: 960px) {
            .grid {
                display: grid;
                grid-template: 1fr auto / 1fr;
                grid-template-areas: "content" "footer";
            }
        }
    </style>
</head>
<body class="grid">
    <aside class="uk-visible@m aside">
        <img class="aside--image" src="https://images.pexels.com/photos/3558597/pexels-photo-3558597.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=1280&w=1656" alt="Alternate Text" />
        @*<img class="aside--image" src="https://images.pexels.com/photos/3623207/pexels-photo-3623207.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Alternate Text" />*@
    </aside>

    <main class="uk-flex uk-flex-column uk-flex-around uk-width-1-1 content">
        <div>
            <h1 class="uk-text-center">SAED</h1>
            <hr class="uk-list-divider uk-margin-large-bottom" />
            <form asp-route-returnUrl="~/avaliacoes" class="uk-margin-large-left uk-margin-large-right" method="post">
                <div asp-validation-summary="All" class="uk-text-danger"></div>
                <div class="uk-margin">
                    <div class="uk-inline uk-display-block">
                        <a class="uk-form-icon" href="#" uk-icon="user"></a>
                        <input asp-for="Input.Email" class="uk-input" placeholder="Usuário" />
                    </div>
                </div>
                <div class="uk-inline uk-display-block">
                    <div class="uk-margin">
                        <a class="uk-form-icon uk-form-icon-flip" href="#" uk-icon="lock"></a>
                        <input asp-for="Input.Password" class="uk-input" placeholder="Senha" />
                    </div>
                </div>
                <button type="submit" class="uk-button uk-button-primary uk-align-center uk-margin-large-top">Entrar</button>
            </form>
        </div>
    </main>
    <footer class="uk-align-center footer">Desenvolvido pelo SIEM</footer>
</body>
</html>