@model SAED.Core.Entities.Turma

@{
    ViewData["Title"] = "Adicionar Turma";
}

<main class="uk-card uk-card-default uk-card-body">
    <div class="uk-flex uk-flex-between uk-flex-bottom">
        <a class="uk-icon-button uk-button-default" asp-action="Index" uk-icon="arrow-left"></a>
        <span class="uk-card-title uk-text-uppercase uk-text-center">Adicionar Turma</span>
        <button class="uk-icon-button uk-button-primary" uk-icon="check" onclick="document.querySelector('.form').submit();"></button>
    </div>
    <hr class="uk-list-divider" />
    <form class="uk-grid-row-small form" uk-grid asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="uk-text-danger"></div>
        <div class="uk-width-1-3">
            <label asp-for="SalaId" class="uk-form-label"></label>
            <select asp-for="SalaId" class="uk-select" asp-items="ViewBag.SalaId"></select>
        </div>
        <div class="uk-width-1-3">
            <label asp-for="EtapaId" class="uk-form-label"></label>
            <select asp-for="EtapaId" class="uk-select" asp-items="ViewBag.EtapaId"></select>
        </div>
        <div class="uk-width-1-3">
            <label asp-for="TurnoId" class="uk-form-label"></label>
            <select asp-for="TurnoId" class="uk-select" asp-items="ViewBag.TurnoId"></select>
        </div>
        <div class="uk-width-1-3">
            <label asp-for="FormaId" class="uk-form-label"></label>
            <select asp-for="FormaId" class="uk-select" asp-items="ViewBag.FormaId"></select>
        </div>
        <div class="uk-width-1-3">
            <label asp-for="Nome" class="uk-form-label"></label>
            <input asp-for="Nome" class="uk-input" />
            <span asp-validation-for="Nome" class="uk-text-danger"></span>
        </div>
        <div class="uk-width-1-3">
            <label asp-for="QtdAlunos" class="uk-form-label"></label>
            <input asp-for="QtdAlunos" class="uk-input" />
            <span asp-validation-for="QtdAlunos" class="uk-text-danger"></span>
        </div>
        <div class="uk-width-1-3">
            <label asp-for="Extinta" class="uk-form-label"></label>
            <input asp-for="Extinta" class="uk-checkbox" type="checkbox" /> @Html.DisplayNameFor(model => model.Extinta)
        </div>
    </form>
</main>