<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="SAED - Simulado de Avaliação Educacional de Juazeiro-BA">
    <meta name="author" content="Tácio de Souza Campos">
    <title>Avaliacões - SAED</title>

    <link rel="icon" href="~/assets/favicon/favicon.ico">

    <!-- UIkit -->
    <link href="~/lib/uikit/dist/css/uikit.min.css" rel="stylesheet" />
    <script defer src="~/lib/uikit/dist/js/uikit.min.js"></script>
    <script defer src="~/lib/uikit/dist/js/uikit-icons.js"></script>

    <!-- Pace Progress Styles -->
    <link href="~/lib/pace-js/themes/red/pace-theme-minimal.css" rel="stylesheet">
    <script defer src="~/lib/pace-js/pace.min.js"></script>

    <style>
        .uk-card {
            width: 100%;
            max-width: 480px;
        }
    </style>
</head>
<body>
    <main class="uk-height-viewport uk-flex uk-flex-1 uk-flex-center uk-flex-middle">
        <div class="uk-card uk-card-default uk-card-body">
            <h2 class="uk-card-title uk-text-center">Selecionar Avaliação</h2>

            <hr class="uk-list-divider" />
            
            <form action="/avaliacoes" method="post">
                <p class="uk-text-lead uk-text-small">Olá @User.Identity.Name, por favor, selecione uma avaliação para entrar!</p>
                <select id="id" name="id" class="uk-select uk-margin-top uk-margin-bottom" asp-items="ViewBag.Avaliacoes"></select>
                <div class="uk-flex uk-flex-center uk-margin-top">
                    <a class="uk-button uk-button-default" onclick="logout()">Sair</a>
                    <button class="uk-button uk-button-primary uk-flex-1">Entrar</button>
                </div>
            </form>
            <form class="logout-form"
                  asp-area="Identity"
                  asp-page="/Account/Logout"
                  asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            </form>
        </div>
    </main>

    <!-- CoreUI and necessary plugins-->
    <script src="~/vendors/pace-progress/js/pace.min.js"></script>
    <script src="~/vendors/coreui/dist/js/coreui.bundle.min.js"></script>

    <script>
        function logout() {
            document.querySelector(".logout-form").submit();
        }
    </script>
</body>
</html>
