<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="SAED - Simulado de Avaliação Educacional de Juazeiro-BA">
    <meta name="author" content="Tácio de Souza Campos">
    <title>Avaliacões - SAED</title>

    <link rel="icon" href="~/assets/favicon/favicon.ico">

    <!-- Icons-->
    <link href="~/vendors/coreui/icons/css/free.min.css" rel="stylesheet">
    <link href="~/vendors/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">

    <!-- Bootstrap Styles -->
    <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- CoreUI Styles -->
    <link href="~/vendors/coreui/dist/css/coreui.min.css" rel="stylesheet">

    <!-- Pace Progress Styles -->
    <link href="~/vendors/pace-progress/css/pace.css" rel="stylesheet">

    <!-- Main Styles -->
    <link href="~/css/home.min.css" rel="stylesheet">

    <style>
        .card {
            width: 100%;
            max-width: 480px;
        }
    </style>
</head>
<body>
    <main class="d-flex justify-content-around align-items-center vh-100">
        <div class="card p-5">
            <h2 class="card-title text-center">Selecionar Avaliação</h2>
            <hr />
            <form action="/avaliacoes" method="post">
                <select id="id" name="id" class="form-control mt-4 mb-5" asp-items="ViewBag.Avaliacoes"></select>
                <div class="d-flex justify-content-center">
                    <a class="btn btn-outline-dark mr-2 w-25 logout" onclick="logout()">
                        <i class="c-sidebar-nav-icon cil-account-logout mr-1"></i>Sair
                    </a>
                    <button type="submit" class="btn btn-primary btn-confirm btn-block">
                        Entrar
                    </button>
                </div>
            </form>
            <form class="logout-form"
                  asp-area="Identity"
                  asp-page="/Account/Logout"
                  asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            </form>
        </div>
    </main>

    <!-- CoreUI and necessary plugins-->
    <script src="~/vendors/pace-progress/js/pace.min.js"></script>
    <script src="~/vendors/coreui/dist/js/coreui.bundle.min.js"></script>

    <script>
        function logout() {
            document.querySelector(".logout-form").submit();
        }
    </script>
</body>
</html>
