.table--header-add {
  border-radius: 10px;
  padding: 5px 30px;
  color: #FF5D47;
  border: 1px solid #FF5D47;
  background-color: white;
  font-weight: 600; }
  .table--header-add:hover {
    color: white;
    background-color: #FF5D47;
    text-decoration: none; }

.input--search {
  min-width: 25vw; }

@media (max-width: 600px) {
  .table--header {
    font-size: 6vw; } }
