@{
    ViewData["Title"] = "Relatórios";
}

@section Styles {
    <style>
        .text-header {
            margin-left: -30px;
        }
    </style>
}

<main class="uk-card uk-card-default uk-card-body">
    <div class="uk-width-auto">
        <h1 class="uk-heading-small uk-heading-line uk-text-center"><span>Relatórios</span></h1>
    </div>
    <div class="uk-card-body">
        <div class="uk-margin-large-bottom">
            <h4 class="text-header uk-margin-bottom">Consolidado por Disciplina</h4>
            <section>
                <div class="uk-flex uk-flex-between">
                    <div>100</div>
                    <div class="uk-flex-1 uk-flex-left uk-margin-small-left">Consolidado do Município</div>
                    <a asp-controller="Relatorios" asp-action="R100" class="uk-text-center" uk-icon="print" title="Imprimir"></a>
                </div>
                <hr class="uk-margin-small-top" />
            </section>
            <section>
                <div class="uk-flex uk-flex-between">
                    <div>101</div>
                    <div class="uk-flex-1 uk-flex-left uk-margin-small-left">Consolidado por Etapa</div>
                    <a asp-controller="Relatorios" asp-action="R101" class="uk-text-center" uk-icon="print" title="Imprimir"></a>
                </div>
                <hr class="uk-margin-small-top" />
            </section>
            <section>
                <div class="uk-flex uk-flex-between">
                    <div>102</div>
                    <div class="uk-flex-1 uk-flex-left uk-margin-small-left">Consolidado por Distrito</div>
                    <a asp-controller="Relatorios" asp-action="R102" class="uk-text-center" uk-icon="print" title="Imprimir"></a>
                </div>
                <hr class="uk-margin-small-top" />
            </section>
            <section>
                <div class="uk-flex uk-flex-between">
                    <div>103</div>
                    <div class="uk-flex-1 uk-flex-left uk-margin-small-left">Consolidado por Distrito > Etapa</div>
                    <a asp-controller="Relatorios" asp-action="R103" class="uk-text-center" uk-icon="print" title="Imprimir"></a>
                </div>
                <hr class="uk-margin-small-top" />
            </section>
            <section>
                <div class="uk-flex uk-flex-between">
                    <div>104</div>
                    <div class="uk-flex-1 uk-flex-left uk-margin-small-left">Consolidado por Escola</div>
                    <a asp-controller="Relatorios" asp-action="R104" class="uk-text-center" uk-icon="print" title="Imprimir"></a>
                </div>
                <hr class="uk-margin-small-top" />
            </section>
            <section>
                <div class="uk-flex uk-flex-between">
                    <div>105</div>
                    <div class="uk-flex-1 uk-flex-left uk-margin-small-left">Consolidado por Escola > Etapa</div>
                    <a asp-controller="Relatorios" asp-action="R105" class="uk-text-center" uk-icon="print" title="Imprimir"></a>
                </div>
                <hr class="uk-margin-small-top" />
            </section>
            <section>
                <div class="uk-flex uk-flex-between">
                    <div>106</div>
                    <div class="uk-flex-1 uk-flex-left uk-margin-small-left">Consolidado por Aluno</div>
                    <a asp-controller="Relatorios" asp-action="R106" class="uk-text-center" uk-icon="print" title="Imprimir"></a>
                </div>
                <hr class="uk-margin-small-top" />
            </section>
        </div>
        <div class="uk-margin-bottom">
            <h4 class="text-header uk-margin-bottom">Consolidado por Disciplina > Tema</h4>
            <section>
                <div class="uk-flex uk-flex-between">
                    <div>200</div>
                    <div class="uk-flex-1 uk-flex-left uk-margin-small-left">Consolidado do Município</div>
                    <a asp-controller="Relatorios" asp-action="R200" class="uk-text-center" uk-icon="print" title="Imprimir"></a>
                </div>
                <hr class="uk-margin-small-top" />
            </section>
        </div>
    </div>
</main>