@{
    ViewData["Title"] = "Relatórios";
}

<main class="uk-card uk-card-default uk-card-body">
    <div class="uk-width-auto">
        <h1 class="uk-card-title">Relatórios</h1>
    </div>
    <div class="uk-card-body">
        <section>
            <div class="uk-flex uk-flex-between">
                <div>102</div>
                <div>Consolidado por Distrito</div>
                <a asp-controller="Relatorios" asp-action="R102" class="uk-text-center" uk-icon="print" title="Imprimir"></a>
            </div>
            <hr />
        </section>
    </div>
</main>