@using SAED.Web.Extensions
@model SAED.Web.Areas.Aplicador.ViewModels.RespostaViewModel

@{
    var qtdAlternativas = Model.Questao.Alternativas.Count;

    var questoes = Context.Session.Get<List<Questao>>(SessionConstants.Questoes);
    var disciplina = Model.Questao.Descritor.Tema.Disciplina;

    var primeiraQuestao = questoes.First(x => x.Descritor.Tema.DisciplinaId == disciplina.Id);
    var ultimaQuestao = questoes.Last(x => x.Descritor.Tema.DisciplinaId == disciplina.Id);

    var isPrimeiraQuestao = primeiraQuestao.Id == Model.Questao.Id;
    var isUltimaQuestao = ultimaQuestao.Id == Model.Questao.Id;
}


@section Styles {
    <link href="~/libs/quill/quill.snow.min.css" rel="stylesheet">

    <style>
        .uk-card {
            max-width: 960px;
            width: 100%;
        }

        #enunciadoEditor { min-height: 170px; }

        .lbl-alternativa:hover { cursor: pointer; }

        .ql-editor *:hover { cursor: pointer; }

        input[type="radio"] {
            -ms-transform: scale(1.5); /* IE 9 */
            -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
            margin-right: 10px;
            transform: scale(1.5);
        }
    </style>
}

<main class="uk-height-viewport uk-flex uk-flex-1 uk-flex-center uk-flex-middle">
    <div class="uk-card uk-card-default uk-card-body">
        <h2 class="uk-card-title uk-text-center">Item - @Model.Questao.Item</h2>
        <hr class="uk-list-divider uk-divider-icon" />

        <div id="enunciadoEditor"></div>
        <input type="hidden" asp-for="Questao.Enunciado" class="enunciado" />

        <form action="/aplicacao" method="post">
            <section class="uk-margin-large-top uk-margin-bottom alternativas">
                <h3 class="uk-text-center">Alternativas</h3>
                <hr class="uk-list-divider uk-divider-icon" />
                <ol type="A">
                    <div class="uk-grid" uk-grid>
                        @for (var i = 0; i < qtdAlternativas; i++)
                        {
                            <div class="uk-width-1-2@s">
                                <li>
                                    <label class="uk-flex uk-flex-between uk-flex-middle lbl-alternativa">
                                        <input type="radio" class="alternativa" asp-for="AlternativaEscolhidaId" value="@Model.Questao.Alternativas[i].Id" />
                                        <div id="alternativa@(i)Editor"></div>
                                    </label>
                                </li>
                                <input type="hidden" asp-for="Questao.Alternativas[i].Descricao" class="uk-input" />
                                <input type="hidden" asp-for="Questao.Alternativas[i].Id" class="uk-input" />
                            </div>
                        }
                    </div>
                </ol>
            </section>

            <section class="uk-flex uk-flex-around uk-margin-large-top">
                @if (isPrimeiraQuestao)
                {
                    <a class="uk-button uk-button-default" asp-controller="Dashboard" asp-action="Index">Voltar</a>
                }
                @if (isUltimaQuestao)
                {
                    <button class="uk-button uk-button-danger btn-next" disabled>Finalizar</button>
                }
                else
                {
                    <button class="uk-button uk-button-primary btn-next" disabled>Confirmar</button>
                }
            </section>

            <input type="hidden" asp-for="AlunoId" class="uk-input" />
            <input type="hidden" asp-for="QuestaoId" class="uk-input" />
            <input type="hidden" asp-for="AvaliacaoId" class="uk-input" />
        </form>
    </div>
</main>

@section Scripts {
    <script src="~/libs/quill/quill.min.js"></script>
    <script type="text/javascript" src="~/scripts/quill.js"></script>

    <script type="text/javascript" src="~/scripts/selectCheckboxAsRadio.js"></script>

    <script defer>
        initializeEnunciado();
        initializeAlternativas();
        validateConfirmButton();

        function initializeEnunciado() {
            const quillEnunciadoEditor = createEmptyQuill("#enunciadoEditor");
            bindDeltaToInput(".enunciado", quillEnunciadoEditor);
        }

        function initializeAlternativas() {
            const alternativas = [];

            for (var i = 0; i < @qtdAlternativas; i++) {
                alternativas.push(createEmptyQuill(`#alternativa${i}Editor`, true));
                bindDeltaToInput(`#Questao_Alternativas_${i}__Descricao`, alternativas[i]);
            }
        }

        function validateConfirmButton() {
            const btn = document.querySelector(".btn-next");
            const alternativas = document.querySelectorAll('.alternativa');
            alternativas.forEach(alternativa => alternativa.addEventListener('change',
                () => {
                    btn.removeAttribute('disabled');
                }));
        }
    </script>
}