@model RespostaQuestaoViewModel

@{
    var qtdAlternativas = Model.Alternativas.Count;
}


@section Styles {
    <link href="~/libs/quill/quill.snow.min.css" rel="stylesheet">

    <style>
        .uk-card {
            max-width: 960px;
            width: 100%;
        }

        #enunciadoEditor {
            min-height: 170px;
        }

        input[type="radio"] {
            -ms-transform: scale(1.5); /* IE 9 */
            -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
            transform: scale(1.5);
            margin-right: 10px;
        }
    </style>
}

<main class="uk-height-viewport uk-flex uk-flex-1 uk-flex-center uk-flex-middle">
    <div class="uk-card uk-card-default uk-card-body">
        <h2 class="uk-card-title uk-text-center">Item - @Model.Item</h2>
        <hr class="uk-list-divider uk-divider-icon" />

        <div id="enunciadoEditor"></div>
        <input type="hidden" asp-for="Enunciado" />

        <form asp-area="Aplicador" asp-controller="Aplicacao" asp-action="Proximo" method="post">
            <section class="uk-margin-large-top uk-margin-bottom alternativas">
                <h3 class="uk-text-center">Alternativas</h3>
                <hr class="uk-list-divider uk-divider-icon" />
                <div class="uk-grid" uk-grid>
                    @for (var i = 0; i < @qtdAlternativas; i++)
                    {
                        <ol type="A" class="uk-width-1-2@s">
                            <li class="uk-flex uk-flex-between uk-flex-middle">
                                <input type="radio" asp-for="AlternativaId" value="@Model.Alternativas[i].Id" />
                                <div id="alternativa@(i)Editor"></div>
                            </li>
                            <input type="hidden" asp-for="Alternativas[i].Descricao" class="uk-input" />
                            <input type="hidden" asp-for="Alternativas[i].Id" class="uk-input" />
                        </ol>
                    }
                </div>
            </section>

            <section class="uk-flex uk-flex-around uk-margin-large-top">
                <a class="uk-button uk-button-default" asp-controller="Dashboard" asp-action="Index">Voltar</a>
                <button class="uk-button uk-button-primary">Confirmar</button>
            </section>

            <input type="hidden" asp-for="AlunoId" class="uk-input" />
            <input type="hidden" asp-for="QuestaoId" class="uk-input" />
            <input type="hidden" asp-for="AvaliacaoId" class="uk-input" />
        </form>
    </div>
</main>

@section Scripts {
    <script src="~/libs/quill/quill.min.js"></script>
    <script type="text/javascript" src="~/scripts/quill.js"></script>

    <script type="text/javascript" src="~/scripts/selectCheckboxAsRadio.js"></script>

    <script defer>
        const quillEnunciadoEditor = createEmptyQuill("#enunciadoEditor");
        bindDeltaToInput("#Enunciado", quillEnunciadoEditor);

        const alternativas = [];

        for (var i = 0; i < @qtdAlternativas; i++) {
            alternativas.push(createEmptyQuill(`#alternativa${i}Editor`, true));
            bindDeltaToInput(`#Alternativas_${i}__Descricao`, alternativas[i]);
        }
    </script>
}
