@model SAED.Web.Areas.Aplicador.ViewModels.ChooseAlunoRequest

@section Styles {
    <style>
        .uk-card {
            width: 100%;
            max-width: 720px;
        }
    </style>
}

<main class="uk-height-viewport uk-flex uk-flex-1 uk-flex-center uk-flex-middle">
    <div class="uk-card uk-card-default uk-card-body">
        <h2 class="uk-card-title uk-text-center">@Model.Escola.Nome</h2>

        <hr class="uk-list-divider"/>

        <form method="post">
            <p class="uk-text-lead uk-text-small">Olá @Model.Aluno.Nome, por favor, selecione uma disciplina!</p>
            <div class="uk-grid uk-grid-row-small" uk-grid>
                <div class="uk-width-1-1">
                    <label class="uk-form-label">Escola</label>
                    <select asp-for="EscolaId" class="uk-select" asp-items="ViewBag.EscolaId">
                        <option value="">---------</option>
                    </select>
                </div>
                <div class="uk-width-1-1">
                    <label class="uk-form-label">Etapa</label>
                    <select asp-for="EtapaId" class="uk-select" disabled>
                        <option value="">---------</option>
                    </select>
                </div>
                <div class="uk-width-1-1">
                    <label class="uk-form-label">Turma</label>
                    <select asp-for="TurmaId" class="uk-select" disabled>
                        <option value="">---------</option>
                    </select>
                </div>
                <div class="uk-width-1-1">
                    <label class="uk-form-label">Aluno</label>
                    <select asp-for="AlunoId" class="uk-select" disabled>
                        <option value="">---------</option>
                    </select>
                </div>
            </div>
            <div class="uk-flex uk-flex-center uk-margin-top">
                <a class="uk-button uk-button-default" onclick="document.querySelector('.logout-form').submit();">Sair</a>
                <button class="uk-button uk-button-primary uk-flex-1">Entrar</button>
            </div>
        </form>
        <form class="logout-form"
              asp-area="Identity"
              asp-page="/Account/Logout"
              asp-route-returnUrl="@Url.Action($"Index", $"Home", new {area = ""}) ">
        </form>
    </div>
</main>