@model SAED.Web.Areas.Administrador.ViewModels.TableHeader

<div class="uk-grid-column-large uk-flex-center uk-flex-between uk-margin-bottom" uk-grid>
    <div class="uk-width-auto">
        <h1 class="uk-card-title">@Model.Header</h1>
    </div>
    <div class="uk-width-expand uk-visible@s">
        <form class="uk-search uk-search-navbar uk-width-expand" style="border: 1px solid grey;">
            <span uk-search-icon></span>
            <input class="uk-search-input dataTable-custom-input" type="search" placeholder="Pesquisar" />
        </form>
    </div>
    @if (User.HasClaim(x => x.Value == $"Permissions.{Model.Controller}.Create"))
    {
        <div class="uk-width-auto">
            <a class="uk-icon-button uk-button-danger" uk-icon="plus"
               asp-area="Administrador"
               asp-controller=@Model.Controller
               asp-action="Create">
            </a>
        </div>
    }
</div>
<div class="uk-width-expand uk-hidden@s uk-margin-small-bottom">
    <form class="uk-search uk-search-navbar uk-width-expand" style="border: 1px solid grey;">
        <span uk-search-icon></span>
        <input class="uk-search-input dataTable-custom-input" type="search" placeholder="Pesquisar" />
    </form>
</div>