@page
@model AccessDeniedModel
@{
    Layout = null;
}

<html>
<head>
    <title>Acesso Negado</title>
    <!-- UIkit -->
    <link href="~/libs/uikit/dist/css/uikit.min.css" rel="stylesheet" />
    <script defer src="~/libs/uikit/dist/js/uikit.min.js"></script>
    <script defer src="~/libs/uikit/dist/js/uikit-icons.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Maven+Pro:wght@400;700&family=Montserrat:wght@400;700&family=Noto+Sans:wght@400;700&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    
    <!-- Custom Styles -->
    <link rel="stylesheet" href="/styles/Global.scss" />
</head>
<body>
<main class="uk-flex uk-height-1-1 uk-flex-center uk-flex-middle uk-flex-column">
    <h1 class="uk-text-uppercase">Acesso Negado :(</h1>
    <p class="uk-text-lead">Infelizmente você não possui as permissões necessárias para acessar este recurso.</p>
    <a class="uk-margin-large-top uk-button uk-button-danger" href="/">Voltar</a>
</main>
</body>
</html>