<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="SAED - Simulado de Avaliação Educacional de Juazeiro-BA">
    <meta name="author" content="Tácio de Souza Campos">
    <title>Seleção - SAED</title>

    <link rel="icon" type="image/png" href="~/favicon.png" />

    <!-- UIkit -->
    <link href="~/libs/uikit/dist/css/uikit.min.css" rel="stylesheet" />
    <script defer src="~/libs/uikit/dist/js/uikit.min.js"></script>
    <script defer src="~/libs/uikit/dist/js/uikit-icons.js"></script>

    <!-- Pace Progress Styles -->
    <link href="~/libs/pace-js/themes/red/pace-theme-minimal.css" rel="stylesheet">
    <script defer src="~/libs/pace-js/pace.min.js"></script>
    
    <!-- Custom Styles -->
    <link rel="stylesheet" href="/styles/Global.scss" />

    @await RenderSectionAsync("Styles", false)
</head>
<body>

@RenderBody()

@await RenderSectionAsync("Scripts", false)
</body>
</html>