@model SAED.Core.Entities.Avaliacao

@{
    ViewData["Title"] = "Adicionar Avaliação";
}

<main class="uk-card uk-card-default uk-card-body">
    <div class="uk-flex uk-flex-between uk-flex-bottom">
        <a class="uk-icon-button uk-button-default" asp-action="Index" uk-icon="arrow-left"></a>
        <span class="uk-card-title uk-text-uppercase uk-text-center">Adicionar Avaliação</span>
        <button class="uk-icon-button uk-button-primary" uk-icon="check" onclick="document.querySelector('.form').submit();"></button>
    </div>
    <hr class="uk-list-divider" />
    <form class="uk-grid-row-small form" uk-grid asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="uk-text-danger"></div>
        <div class="uk-width-1-3">
            <label asp-for="Codigo" class="uk-form-label"></label>
            <input asp-for="Codigo" class="uk-input" />
            <span asp-validation-for="Codigo" class="uk-text-danger"></span>
        </div>
        <div class="uk-width-1-3">
            <label asp-for="Status" class="uk-form-label"></label>
            <select asp-for="Status" class="uk-select" asp-items="Html.GetEnumSelectList<StatusAvaliacao>()"></select>
            <span asp-validation-for="Status" class="uk-text-danger"></span>
        </div>
    </form>
</main>