body {
    margin: 0;

    .aside {
        max-width: 60vw;
    }

    .aside--image {
        max-height: 100vh;
        /*object-fit: fill;*/
        /*background-size: contain;*/
    }

    .section {
        max-height: 100vh;
        border-left: 1px solid black;

        .section--form {
            width: 70%;
            margin: auto;
        }
    }
}
