@model SAED.ApplicationCore.Entities.Tema

@{
    ViewData["Title"] = "Remover Tema";
}

<main class="card p-4">
    <h1>Remover Tema</h1>
    <hr />
    <form asp-action="Delete">
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-6 mb-3">
                <label asp-for="Disciplina.Nome" class="control-label">Disciplina</label>
                <input asp-for="Disciplina.Nome" class="form-control" readonly />
            </div>
            <div class="col-md-6 mb-3">
                <label asp-for="Nome" class="control-label">Tema</label>
                <input asp-for="Nome" class="form-control" readonly />
            </div>
            <input type="hidden" asp-for="Id" />
        </div>
        <div class="d-flex justify-content-center mt-3">
            <a class="btn btn-outline-dark mr-2" asp-action="Index">Voltar</a>
            <input type="submit" value="Remover" class="btn btn-primary" />
        </div>
    </form>
</main>
